#pragma code_page(65001)

1 ICON "assets/helium.ico"
2 ICON "assets/icon.ico"
1 24 "hupdater.exe.manifest"

1 VERSIONINFO
FILEVERSION 0,1,2,0
PRODUCTVERSION 0,1,2,0
FILEOS 0x40004
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "xxanqw"
            VALUE "FileDescription", "Helium Browser Autoupdater"
            VALUE "FileVersion", "0.1.2"
            VALUE "InternalName", "hupdater"
            VALUE "LegalCopyright", "© 2026 xxanqw"
            VALUE "OriginalFilename", "hupdater.exe"
            VALUE "ProductName", "HUpdater"
            VALUE "ProductVersion", "0.1.2"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}
